.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
  width: 100%;
  max-width: 800px;
  margin: 3rem auto 10em;
  padding: 2.6rem 2rem;
  border-top: 1px solid var(--gray-three);
}

.form-container h2 {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  color: var(--gray-one);
}

.input-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.88rem;
  color: var(--gray-three);
}

.title,
.author,
.category-input input {
  flex: 1;
  padding: 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
  font-size: 1rem;
  font-weight: normal;
  color: var(--gray-one);
}

.category-input {
  position: relative;
}

.category-input input {
  padding-right: 2rem;
}

.category-input i {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--gray-two);
}

.input-form button {
  background-color: var(--blue-primary);
  color: white;
  font-size: 0.813rem;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: filter 0.2s;
  letter-spacing: 0.5px;
}
